.pictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;

  .picture {
    padding: 1rem;
    width: 200px;
    .imageContainer {
      // overflow: hidden;
      // height: 40vh;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.3s ease;
        &:hover {
          transform: scale(1.25);
        }
      }
    }
    p{
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
    }
  }
}
