
.pricing-container {
  display: flex;
  width: 100%;
  gap: 4rem 2rem;
  justify-content: center;
  margin: 0 auto;
  cursor: default;
}

.pricing-card {
  align-items: center;
  background: var(--card-bg);
  border-radius: 0.5rem;
  color: var(--text-gray);
  display: flex;
  flex-direction: column;
  max-width: 25rem;
  padding: 2rem;
  position: relative;
  transition: all 0.5s ease-in-out;
  width: 100%;
  overflow-x: hidden;
}

.pricing-card:hover {
  transform: translateY(-2rem);
}

.pricing-card--primary {
  border-radius: 0 0 0.5rem 0.5rem;
}

@media (max-width: 426px) {
  .pricing-card {
    display: none;
  }
  .pricing-card:last-child {
    display: block;
    min-width: 320px;
  }
  .pricing-card div {
    text-align: center;
  }
}

.pricing-card__price {
  color: var(--text-white);
  flex-wrap: wrap;
  font-size: 2rem;
  font-weight: 700;
}

.pricing-card__banner {
  color: #fff;
  height: 1rem;
  position: absolute;
  top: -2.5rem;
}

.pricing-card__banner + .pricing-card {
  border-radius: 0 0 0.5rem 0.5rem;
}

.pricing-card__price--original {
  color: var(--text-gray);
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 2rem;
}

.pricing-card > h3 {
  font-size: 2rem;
  margin: 0;
  text-align: center;
}

.pricing-card > .enroll,
.pricing-card > h3 {
  color: var(--text-white);
  font-weight: 700;
}

.pricing-card > .enroll {
  align-items: center;
  background: var(--primary-blue);
  border: 1px solid var(--primary-blue);
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  letter-spacing: 0.75px;
  margin-top: auto;
  min-height: 3rem;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  width: 100%;
}

.pricing-card > .enroll:hover {
  background: var(--primary-blue-dark);
}

.pricing-card__banner {
  align-items: center;
  background: var(--primary-blue);
  border-radius: 0.5rem 0.5rem 0 0;
  display: flex;
  font-weight: 700;
  justify-content: center;
  min-height: 2.5rem;
  text-transform: uppercase;
  width: 100%;
}

.pricing-card > ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
  width: 100%;
}

.pricing-card > ul > li {
  font-size: 0.875rem;
  font-weight: 500;
  list-style-type: none;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pricing-card > ul > li:before {
  background-repeat: no-repeat;
  content: "";
  height: 2rem;
  left: -2.25rem;
  position: absolute;
  top: -2px;
  width: 2rem;
}
