/* 所有圖片 */
.img-box .img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* 外層 */
.cont {
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding: 100px 0 0;
}
@media screen and ( max-width: 426px){ 
  .cont{
    flex-direction:column;
  }
}
/* 外層左邊 */
.cont-left {
  width: calc(100% - 377px);
  max-width: 1023px;
  padding: 0px 40px;
}
@media screen and ( max-width: 426px){ 
  .cont-left {
    width: 100%;
  }
}
/* 外層右邊 */
.cont-right {
  width: 377px;
  padding: 25px 41px 25px 25px;
}
@media screen and ( max-width: 426px){ 
  .cont-right {
    width: 100%;
  }
}
/* 標題header */
.tit-box-main {
  border-bottom: 1px solid #000;
  padding: 20px 0px;
  margin-bottom: 20px;
}
.tit-box-main .tit {
  display: flex;
  align-items: center;
  max-width: 1330px;
  margin: 0 auto -6px;
  position: relative;
}

.tit-box-main .en {
  font-weight: 900;
  font-size: 42px;
  letter-spacing: 0.14em;
  font-weight: 700;
} 
/* 標籤 */
.list-menu ul {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0 40px -20px;
}
.list-menu li {
  width: 20%;
  margin: 20px 0 0;
  padding-left: 20px;
}
/* 標籤效果 */
.link-box a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 0.4s ease;
  overflow: hidden;
  position: relative;
}
.link-box a:after {
  position: absolute;
  content: "";
  z-index: 10;
  width: 100%;
  height: 0;
  background: #000;
  bottom: 0;
  left: 0;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
.link-box a:hover:after {
  height: 100%;
}
.link-box span {
  position: relative;
  z-index: 20;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.05em;
  line-height: 1;
  color: #000;
  transition: 0.4s ease;
}
.link-def a {
  height: 55px;
  border-radius: 55px;
  background: #fff;
  border: 1px solid #000;
}
.link-def a:hover:after {
  height: 100%;
}
.link-def a:hover span {
  color: #fff;
}
/* 新聞六個 */
.article-list article a {
  display: block;
  text-decoration: none;
}
.article-list article a:hover .tit {
  text-decoration-color: inherit;
  overflow:hidden; 
}
.article-list article .img-box {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.article-list article .img {
  padding-top: 66.74%;
  transition: 0.4s ease;
}
.article-list article .txt-box {
  padding: 15px 0 0;
}
.article-list article .tit {
  font-size: 18px;
  color: #2f2d2b;
  line-height: 1.5;
  margin: 22px 0 0;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: 0.4s ease;
}
.article-list article .cat + .tit {
  margin: 10px 0 0;
}
.article-list article .sta-box {
  position: relative;
  display: flex;
  margin: 15px 0 0;
  padding: 0 0 5px;
}
.article-list article .outh + .data {
  margin-left: 10px;
}
.article-list.col-2-pc ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.article-list.col-2-pc li {
  width: calc(50% - 15px);
  max-width: 442px;
  margin: 0 0 50px;
}
.tag {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #e8f000;
  color: #000;
  padding: 5px 10px;
  transition: 0.4s ease;
}
.cat {
  font-size: 12px;
  letter-spacing: 0.05em;
  color: #646464;
  transition: 0.4s ease;
}
.outh {
  font-size: 12px;
  color: #646464;
  letter-spacing: 0.05em;
  transition: 0.4s ease;
}
.data {
  font-size: 12px;
  color: #646464;
  letter-spacing: 0.05em;
  transition: 0.4s ease;
}
/* 排名 */
.tit-box-side-ranking{
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: 900;
}
.col-side-pc li {
  padding-bottom: 19px;
}
.col-side-pc li + li {
  border-top: 1px solid #c4c3c3;
  padding-top: 19px;
}
.col-side-pc article a {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}
.col-side-pc article .img-box {
  position: relative;
  width: 100px;
  height: 100px;
}
.col-side-pc article .img {
  padding-top: 100%;
}
.col-side-pc article .txt-box {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  width: 200px;
}
.col-side-pc article .tit {
  width: 100%;
  font-size: 14px;
  color: #2f2d2b;
  line-height: 1.5;
  margin: -5px 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.col-ranking ul li:nth-of-type(1) article:before {
  content: " 1 ";
}
.col-ranking ul li:nth-of-type(2) article:before {
  content: " 2 ";
}
.col-ranking ul li:nth-of-type(3) article:before {
  content: " 3 ";
}
.col-ranking ul li:nth-of-type(4) article:before {
  content: " 4 ";
}
.col-ranking ul li:nth-of-type(5) article:before {
  content: " 5 ";
}
.col-ranking ul li:nth-of-type(6) article:before {
  content: " 6 ";
}
.col-ranking ul li:nth-of-type(7) article:before {
  content: " 7 ";
}
.col-ranking ul li:nth-of-type(8) article:before {
  content: " 8 ";
}
.col-ranking ul li:nth-of-type(9) article:before {
  content: " 9 ";
}
.col-ranking ul li:nth-of-type(10) article:before {
  content: " 10 ";
}
.col-ranking article {
  position: relative;
}
.col-ranking article:before {
  position: absolute;
  z-index: 30;
  top: 3px;
  left: 1px;
  width: 19px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
.col-ranking article:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border: 18px solid transparent;
  border-top-color: #e8f000;
  border-left-color: #e8f000;
  top: 0;
  left: 0;
}



/* 頁數 */
.detail-pager-wrap {
  margin: 25px 0 0;
}
.detail-pager-wrap ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.detail-pager-wrap .detail-pager {
  width: 35px;
  margin: 0 5px;
}
.detail-pager-wrap a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 35px;
  border: 1px solid #2f2d2b;
  border-radius: 50%;
  text-decoration: none;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
.detail-pager-wrap a:hover {
  background: #2f2d2b;
}
.detail-pager-wrap a:hover span {
  color: #fff;
}
.detail-pager-wrap span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #2f2d2b;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
.detail-pager-wrap .pager-active a {
  background: #e2e9ed;
  pointer-events: none;
}
.detail-pager-wrap .pager-prev a {
  position: relative;
}
.detail-pager-wrap .pager-prev a:hover:before {
  border-color: #fff;
}
.detail-pager-wrap .pager-prev a:before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  border-bottom: 2px solid #2f2d2b;
  border-left: 2px solid #2f2d2b;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
  bottom: 0;
  left: 13px;
  margin: auto 0;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
.detail-pager-wrap .pager-next a {
  position: relative;
}
.detail-pager-wrap .pager-next a:hover:before {
  border-color: #fff;
}
.detail-pager-wrap .pager-next a:before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  border-top: 2px solid #2f2d2b;
  border-right: 2px solid #2f2d2b;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
  bottom: 0;
  right: 13px;
  margin: auto 0;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}



